<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ARCSYSDEV" type="System.Configuration.NameValueSectionHandler" />
    <section name="ARCSYSTEST" type="System.Configuration.NameValueSectionHandler" />
    <section name="ARCSYSPRO" type="System.Configuration.NameValueSectionHandler" />
    <section name="ACMSP" type="System.Configuration.NameValueSectionHandler" />
    <section name="ACMST" type="System.Configuration.NameValueSectionHandler" />
    <section name="LINE" type="System.Configuration.NameValueSectionHandler" />
    <section name="LineTest" type="System.Configuration.NameValueSectionHandler" />
    <section name="OCEAN" type="System.Configuration.NameValueSectionHandler" />
    <section name="OCEANTest" type="System.Configuration.NameValueSectionHandler" />
    <section name="ODS" type="System.Configuration.NameValueSectionHandler" />
    <section name="SAGAEDI" type="System.Configuration.NameValueSectionHandler" />
    <section name="ITrackPro" type="System.Configuration.NameValueSectionHandler" />
    <section name="CLASSP" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="EDIGroups">
      <section name="BookingImports" type="CS2010.ArcSys.Business.EDIConfigurationSection, ArcSys.Win" />
      <section name="ShippingInstructions" type="CS2010.ArcSys.Business.EDIConfigurationSection, ArcSys.Win" />
      <section name="StatusUpdates" type="CS2010.ArcSys.Business.EDIConfigurationSection, ArcSys.Win" />
      <section name="BookingExports" type="CS2010.ArcSys.Business.EDIConfigurationSection, ArcSys.Win" />
      <section name="BookingExportPP" type="CS2010.ArcSys.Business.EDIConfigurationSection,ArcSys.Win" />
      <section name="StatusSent" type="CS2010.ArcSys.Business.EDIConfigurationSection, ArcSys.Win" />
      <section name="BOLExports" type="CS2010.ArcSys.Business.EDIConfigurationSection, ArcSys.Win" />
      <section name="CAT323Sent" type="CS2010.ArcSys.Business.EDIConfigurationSection, ArcSys.Win" />
      <section name="CAT315Sent" type="CS2010.ArcSys.Business.EDIConfigurationSection,ArcSys.Win" />
      <section name="ITVUsers" type="CS2010.ArcSys.Business.EDIConfigurationSection, ArcSys.Win" />
      <section name="CharlestonHHG" type="CS2010.ArcSys.Business.EDIConfigurationSection, ArcSys.Win" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ARCSYSDEV" providerName="Oracle.DataAccess.Client" connectionString="Data Source=AROFD;Persist Security Info=True;User ID=&lt;user&gt;;password=&lt;pwd&gt;" />
    <add name="ARCSYSTEST" providerName="Oracle.DataAccess.Client" connectionString="Data Source=AROFD;Persist Security Info=True;User ID=&lt;user&gt;;password=&lt;pwd&gt;" />
    <add name="ARCSYSPRO" providerName="Oracle.DataAccess.Client" connectionString="Data Source=AROFP;Persist Security Info=True;User ID=&lt;user&gt;;password=&lt;pwd&gt;" />
    <add name="ACMSP" providerName="Oracle.DataAccess.Client" connectionString="Data Source=ACMSP;Persist Security Info=True;User ID=&lt;user&gt;;password=&lt;pwd&gt;" />
    <add name="ACMST" providerName="Oracle.DataAccess.Client" connectionString="Data Source=ACMST;Persist Security Info=True;User ID=&lt;user&gt;;password=&lt;pwd&gt;" />
    <add name="LINE" providerName="System.Data.SqlClient" connectionString="packet size=4096;user id=&lt;user&gt;;password=&lt;pwd&gt;;data source=SQLCLUSTER;persist security info=True;initial catalog=Line_cs;" />
    <add name="LineTest" providerName="System.Data.SqlClient" connectionString="packet size=4096;user id=&lt;user&gt;;password=&lt;pwd&gt;;data source=SQLCLUSTER;persist security info=True;initial catalog=TestDB_Line_cs;" />
    <add name="ODS" providerName="Oracle.DataAccess.Client" connectionString="Data Source=ODS;Persist Security Info=True;User ID=&lt;user&gt;;password=&lt;pwd&gt;" />
    <add name="SAGAEDI" providerName="Oracle.DataAccess.Client" connectionString="Data Source=ARCT;Persist Security Info=True;User ID=&lt;user&gt;;password=&lt;pwd&gt;" />
    <add name="AVSS" providerName="Oracle.DataAccess.Client" connectionString="Data Source=ARCP;Persist Security Info=True;User ID=&lt;user&gt;;password=&lt;pwd&gt;" />
    <add name="AVSST" providerName="Oracle.DataAccess.Client" connectionString="Data Source=ARCD;Persist Security Info=True;User ID=&lt;user&gt;;password=&lt;pwd&gt;" />
    <add name="ITrackPro" providerName="Oracle.DataAccess.Client" connectionString="Data Source=MISCDB;Persist Security Info=True;User ID=&lt;user&gt;;password=cluele55" />
    <add name="CLASSP" providerName="Oracle.DataAccess.Client" connectionString="Data Source=CLASSP;Persist Security Info=True;User ID=&lt;user&gt;;password=&lt;pwd&gt;" />
    <add name="OCEAN" providerName="SQLOLEDB.1"
      connectionString="packet size=4096;
         user id=dgerdner;
         password=;
         Data Source=ARC-SQL1.wlhinet.com;Integrated Security=SSPI;Initial Catalog=ARC_OCEANP;"/>
    <add name="OCEANTest" providerName="SQLOLEDB.1"
      connectionString="packet size=4096;
         user id=dgerdner;
         password=;
         Data Source=ARC-SQL1.wlhinet.com;Integrated Security=SSPI;Initial Catalog=ARC_OCEANT;"/>

  </connectionStrings>
  <appSettings>
    <add key="DBAccess" value="tacoma42" />
    <add key="ProductionEnvironment" value="false" />
    <add key="EventLogSource" value="ArcSys" />
    <add key="EventLogName" value="ARC" />
    <add key="EventMachineName" value="." />
    <add key="EventRecipients" value="roman@amslgroup.com" />
    <add key="Title" value="ArcSys - ARC Business Management System" />
    <add key="ExportDir" value="C:\Temp" />
    <add key="DateFormat" value="MM-dd-yyyy" />
    <add key="CustomerServiceGroup" value="dgerdner@amslgroup.com" />
    <add key="CustomerServiceMsg" value="Please contact ARC Customer Service for further assistance" />
    <add key="HelpFile" value="ARC_Help.PDF" />
    <add key="PrinterHelp" value="Printer Settings Guide.PDF" />
    <add key="IssueReportingHelp" value="Issue Reporting Instructions.pdf" />
    <add key="MaxInsertAttempts" value="10" />
    <add key="ucControl.ChangeColorOnEnter" value="True" />
    <add key="ucControl.EnterBackGroundColor" value="Yellow" />
    <add key="ucControl.EnterForeColor" value="White" />
    <add key="ucControl.DisableBackGroundColor" value="Silver" />
    <add key="ucControl.ReadOnlyBackGroundColor" value="Silver" />
    <add key="ucControl.Case" value="Upper" />
    <add key="UseTabbedMDI" value="false" />
    <add key="STENAUserName" value="ECONNECT\AMECAR" />
    <add key="STENAPassword" value="Tr4u0m3sdFH" />
    <add key="CheckForLINEChanges" value="true" />
    <add key="IntervalSeconds" value="300" />
    <!-- EDI File paths for opening files with NotePad -->
    <add key="MTMCIBSD300INPATH" value="\\guardianedge\acms\edi\data\sddc_in\300Files\Archive\" />
    <add key="WLWH300OUTPATH" value="\\commserver01\in_out\ANSI300_Imp\Archive\ACMS\" />
    <add key="MTMCIBSD301OUTPATH" value="\\commserver01\in_out\SDDC_301Exp\archive\" />
    <add key="MTMCIBSD315OUTPATH" value="\\commserver01\in_out\SDDC_315Exp\archive\" />
    <add key="WLWH301INPATH" value="\\commserver01\in_out\ANSI301_Exp\archive\" />
    <add key="WLWH304OUTPATH" value="\\commserver01\in_out\ANSI304_Imp\preprocessing\Archive\" />
    <add key="CAT315OUTPATH" value="\\commserver01\in_out\CAT315_Exp\Archive\" />
    <add key="CAT323OUTPATH" value="\\commserver01\in_out\CAT323_Exp\Archive\" />
    <add key="USCRWHHGINPATH" value="\\commserver01\in_out\USCRW_HHG_RECEIVING_Imp\PreProcess\Archive\Backup\" />
    <add key="MTMCIBSD303INPATH" value="\\guardianedge\acms\edi\data\sddc_in\303Files\Archive\" />
    <!-- ITrack options -->
    <add key="LimitBizDefaultSearch" value="true" />
    <add key="EmailEmg" value="true" />
    <add key="EmailDevNote" value="true" />
    <add key="EmailDevNew" value="true" />
    <add key="EmailBizNew" value="true" />
    <add key="EmailDevPriority" value="true" />
    <add key="EmailBizPriority" value="false" />
    <add key="DevDistributionList" value="jdorney@amslgroup.com, dgerdner@amslgroup.com, jroman@amslgroup.com" />
    <add key="EmgDistributionList" value="jdorney@amslgroup.com, dgerdner@amslgroup.com, jroman@amslgroup.com" />
    <add key="NoAutoSearchUsers" value="ssantiana,dgerdner,lidestri" />
    <add key="BadLocationDays" value="30" />
    <!-- TOPS Ports Email Distribution-->
    <add key="USBAL" value="Barbara.Imwold@2wglobal.com" />
    <add key="GBSOU" value="darren.thorne@2wglobal.com, 2WEUSOU22BerthReceiving@2wglobal.com" />
    <add key="USSSI" value="dgerdner@amslgroup.com" />
    <add key="BCCGroup" value="dgerdner@amslgroup.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SMTPServer" value="relay.appriver.com"/>
    <add key="SMTPPort" value="2525"/>
    <add key ="TSGUIDES" value="\\SourceSafe\d\All Software Documentation\TroubleShooting Guides\"/>
  </appSettings>
  <EDIGroups>
    <BookingImports MessageNo="300" MessageDsc="Booking Imports Received" ArchiveSubFolder="\\commserver01\In_Out\ANSI300_Imp\Archive\acms" ErrorSubFolder="\\commserver01\In_Out\ANSI300_Imp\Error\acms" ProcessSubFolder="\\commserver01\In_Out\ANSI300_Imp\Processing\acms" InOut="Incoming" SerialDelimiter="~L5*" SerialPosition="5" ActionDelimiter="~B1*" ActionPosition="3" POLDelimiter="~R4*L*" POLPosition="3">
      <EDIDelimiters>
        <EDIDelimiter Delimiter="B1*" FieldName="Booking #" Position="1" />
        <EDIDelimiter Delimiter="*OB*" FieldName="B/L #" Position="0" />
      </EDIDelimiters>
    </BookingImports>
    <ShippingInstructions MessageNo="304" MessageDsc="Shipping Instructions Received" ArchiveSubFolder="\\commserver01\In_Out\ANSI304_Imp\Archive" ErrorSubFolder="\\commserver01\In_Out\ANSI304_Imp\Error" ProcessSubFolder="\\commserver01\In_Out\ANSI304_Imp\Processing" InOut="Incoming" SerialDelimiter="~L5*" SerialPosition="5" ActionDelimiter="~B2A*" ActionPosition="0" POLDelimiter="~R4*L*" POLPosition="3">
      <EDIDelimiters>
        <EDIDelimiter Delimiter="N9*BN*" FieldName="Booking #" Position="0" />
        <EDIDelimiter Delimiter="*OB*" FieldName="B/L #" Position="0" />
      </EDIDelimiters>
    </ShippingInstructions>
    <StatusUpdates MessageNo="322" MessageDsc="Status Updates Received" ArchiveSubFolder="\\commserver01\In_Out\ANSI322_Imp\Archive" ErrorSubFolder="\\commserver01\In_Out\ANSI322_Imp\Error" ProcessSubFolder="\\commserver01\In_Out\ANSI322_Imp\Preprocessing" InOut="Incoming" SerialDelimiter="~L5*" SerialPosition="5" ActionDelimiter="~Q5*" ActionPosition="0" POLDelimiter="~R4*L*" POLPosition="3">
      <EDIDelimiters>
        <EDIDelimiter Delimiter="N9*BN*" FieldName="Booking #" Position="0" />
        <EDIDelimiter Delimiter="N9*OB*" FieldName="B/L #" Position="0" />
      </EDIDelimiters>
    </StatusUpdates>
    <BookingExports MessageNo="300EXP" MessageDsc="Booking Exports Sent" ArchiveSubFolder="\\commserver01\In_Out\ANSI300_Exp\Archive" ErrorSubFolder="\\commserver01\In_Out\ANSI300_Exp\Error" ProcessSubFolder="\\commserver01\In_Out\ANSI300_Exp\out\ftpout" InOut="Outgoing" SerialDelimiter="~L5*" SerialPosition="5" ActionDelimiter="~B1*" ActionPosition="3">
      <EDIDelimiters>
        <EDIDelimiter Delimiter="B1*" FieldName="Booking #" Position="1" />
        <EDIDelimiter Delimiter="*OB*" FieldName="B/L #" Position="0" />
      </EDIDelimiters>
    </BookingExports>
    <BookingExportPP MessageNo="300EXPP" MessageDsc="Booking Exports Preprocessor" ArchiveSubFolder="\\commserver01\In_Out\ANSI300_Exp\Preprocessing\Archive" ErrorSubFolder="\\commserver01\In_Out\ANSI300_Exp\Preprocessing\Error" ProcessSubFolder="\\commserver01\In_Out\ANSI300_Exp\Preprocessing" InOut="Outgoing" SerialDelimiter="~L5*" SerialPosition="5" ActionDelimiter="~B1*" ActionPosition="3" POLDelimiter="~R4*L*" POLPosition="3">
      <EDIDelimiters>
        <EDIDelimiter Delimiter="B1*" FieldName="Booking #" Position="1" />
        <EDIDelimiter Delimiter="*OB*" FieldName="B/L #" Position="0" />
      </EDIDelimiters>
    </BookingExportPP>
    <StatusSent MessageNo="315EXP" MessageDsc="Status sent to ACMS" ArchiveSubFolder="\\commserver01\In_Out\ANSI315_Exp\Out\ACMS\Archive" ErrorSubFolder="\\commserver01\In_Out\ANSI315_Exp\Out\ACMS\Error" ProcessSubFolder="\\commserver01\In_Out\ANSI300_Exp\Out" InOut="Outgoing" SerialDelimiter="~L5*" SerialPosition="5" ActionDelimiter="~B4*" ActionPosition="2">
      <EDIDelimiters>
        <EDIDelimiter Delimiter="N9*BN*" FieldName="Booking #" Position="0" />
        <EDIDelimiter Delimiter="*BM*" FieldName="B/L #" Position="0" />
      </EDIDelimiters>
    </StatusSent>
    <BOLExports MessageNo="310EXP" MessageDsc="BOL Sent to TOPS" ArchiveSubFolder="\\commserver01\In_Out\ANSI310_Exp\Archive" ErrorSubFolder="\\commserver01\In_Out\ANSI310_Exp\Error" ProcessSubFolder="\\commserver01\In_Out\ANSI310_Exp\Out\ftpout" InOut="Outgoing" SerialDelimiter="~L5*" SerialPosition="6" ActionDelimiter="B2A" ActionPosition="1">
      <EDIDelimiters>
        <EDIDelimiter Delimiter="~B3*" FieldName="B/L #" Position="2" />
      </EDIDelimiters>
    </BOLExports>
    <CAT323Sent MessageNo="323EXP" MessageDsc="323 Sent to CAT" ArchiveSubFolder="\\commserver01\In_Out\CAT323_EXP\Archive" ErrorSubFolder="\\commserver01\In_Out\CAT323_EXP\Error" ProcessSubFolder="\\commserver01\In_Out\CAT323_Exp\ftpout" InOut="Outgoing" SerialDelimiter="V1*" SerialPosition="3" ActionDelimiter="~ST*" ActionPosition="1">
      <EDIDelimiters>
        <EDIDelimiter Delimiter="~K1*" FieldName="Service" Position="0" />
      </EDIDelimiters>
    </CAT323Sent>
    <CAT315Sent MessageNo="315EXP" MessageDsc="315 Sent to CAT" ArchiveSubFolder="\\commserver01\In_Out\CAT315_Exp\Archive" ErrorSubFolder="\\commserver01\In_Out\CAT315_Exp\Error" ProcessSubFolder="\\commserver01\In_Out\CAT315_Exp\ftpout" InOut="Outgoing" SerialDelimiter="N9*EQ" SerialPosition="0" ActionDelimiter="xxx" ActionPosition="2">
      <EDIDelimiters>
        <EDIDelimiter Delimiter="~B4*" FieldName="Date" Position="3" />
      </EDIDelimiters>
    </CAT315Sent>
    <CharlestonHHG MessageNo="USCRWHHG" MessageDsc="Household Goods Charleston" ArchiveSubFolder="\\commserver01\In_Out\USCRW_HHG_RECEIVING_Imp\Archive" ErrorSubFolder="\\commserver01\In_Out\USCRW_HHG_RECEIVING_Imp\Error" ProcessSubFolder="\\commserver01\In_Out\USCRW_HHG_RECEIVING_Imp\Import" InOut="Incoming" SerialDelimiter="CARGOID:" SerialPosition="0" ActionDelimiter="TYPE:" ActionPosition="1">
      <EDIDelimiters>
        <EDIDelimiter Delimiter="BOOKING:" FieldName="Booking#" Position="0" />
      </EDIDelimiters>
    </CharlestonHHG>

    <ITVUsers>
    </ITVUsers>
  </EDIGroups>
  <ARCSYSDEV>
    <add key="DBAccess" value="tacoma42" />
    <add key="ProductionEnvironment" value="false" />
    <add key="UseTabbedMDI" value="true" />
  </ARCSYSDEV>
  <ARCSYSTEST>
    <add key="DBAccess" value="tacoma42" />
    <add key="ProductionEnvironment" value="false" />
    <add key="UseTabbedMDI" value="true" />
  </ARCSYSTEST>
  <ARCSYSPRO>
    <add key="DBAccess" value="tacoma42" />
    <add key="ProductionEnvironment" value="true" />
    <add key="UseTabbedMDI" value="true" />
  </ARCSYSPRO>
  <ODS>
    <add key="DBAccess" value="ods_user" />
    <add key="ProductionEnvironment" value="true" />
    <add key="UseTabbedMDI" value="true" />
  </ODS>
  <CLASSP>
    <add key="DBAccess" value="mAng3n1u5" />
    <add key="ProductionEnvironment" value="true" />
    <add key="UseTabbedMDI" value="true" />
  </CLASSP>
  <ACMSP>
    <add key="ProductionEnvironment" value="true" />
    <add key="UseTabbedMDI" value="true" />
  </ACMSP>
  <ACMST>
    <add key="ProductionEnvironment" value="false" />
    <add key="UseTabbedMDI" value="true" />
  </ACMST>
  <system.net>
    <mailSettings>
      <smtp from="helpdesk@amslgroup.com">
        <network host="relay.appriver.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- Username credentials with Message security  -->
        <binding name="httpsMCBinding_client" maxBufferPoolSize="0" maxReceivedMessageSize="365536">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="SurfacePatLOBServiceVersion1Soap11Binding">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageSecurityVersion="Default">
            <localClientSettings cacheCookies="true" detectReplays="false" replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite" replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00" maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00" negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00" sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            <secureConversationBootstrap />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
        <binding name="PatLOBSoap12Binding">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageSecurityVersion="Default">
            <localClientSettings cacheCookies="true" detectReplays="false" replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite" replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00" maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00" negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00" sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true" maxPendingSessions="128" maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            <secureConversationBootstrap />
          </security>
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
    </bindings>
    <!-- Endpoints to call from client  -->
    <!-- Production Environment -->
    <client>
      <endpoint address="https://wsfreight.stenaline.com/FWS/Service.svc/ReservationService" binding="basicHttpBinding" bindingConfiguration="httpsMCBinding_client" contract="FWSReservationService.IBookingMetadata" />
      <endpoint address="https://wsfreight.stenaline.com/FWS/Service.svc/ReservationService" binding="basicHttpBinding" bindingConfiguration="httpsMCBinding_client" contract="FWSReservationService.IBooking" />
      <endpoint address="https://wsfreight.stenaline.com/FWS/Service.svc/ReservationService" binding="basicHttpBinding" bindingConfiguration="httpsMCBinding_client" contract="FWSReservationService.IBulletins" />
      <endpoint address="https://wsfreight.stenaline.com/FWS/Service.svc/ReservationService" binding="basicHttpBinding" bindingConfiguration="httpsMCBinding_client" contract="FWSReservationService.ITimeTable" />
      <endpoint address="https://wsfreight.stenaline.com/FWS/Service.svc/ReservationService" binding="basicHttpBinding" bindingConfiguration="httpsMCBinding_client" contract="FWSReservationService.IUserInfo" />
    </client>
    <!-- Test Environment
		<client>
			<endpoint address="https://services.test.stenaline.com/Host.Web.FWS/Service.svc/ReservationService"
					binding="basicHttpBinding" bindingConfiguration="httpsMCBinding_client"
					contract="FWSReservationService.IBookingMetadata"/>
			<endpoint address="https://services.test.stenaline.com/Host.Web.FWS/Service.svc/ReservationService"
					binding="basicHttpBinding" bindingConfiguration="httpsMCBinding_client"
					contract="FWSReservationService.IBooking"/>
			<endpoint address="https://services.test.stenaline.com/Host.Web.FWS/Service.svc/ReservationService"
					binding="basicHttpBinding" bindingConfiguration="httpsMCBinding_client"
					contract="FWSReservationService.IBulletins"/>
			<endpoint address="https://services.test.stenaline.com/Host.Web.FWS/Service.svc/ReservationService"
					binding="basicHttpBinding" bindingConfiguration="httpsMCBinding_client"
					contract="FWSReservationService.ITimeTable"/>
			<endpoint address="https://services.test.stenaline.com/Host.Web.FWS/Service.svc/ReservationService"
					binding="basicHttpBinding" bindingConfiguration="httpsMCBinding_client"
					contract="FWSReservationService.IUserInfo"/>
		</client> -->
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>